body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


#pane {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    align-items: center;
}

#pane div.polaroid {
    width: 250px;
    background-color: whitesmoke;
    margin-bottom: 25px;
    border-radius: 10px; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#write-up {
    justify-content: center;
    display: flex;
    padding: 10px 20px;
}

a .hyperlinks {
    color: blue;
}

a .hyperlinks:hover {
    color:blueviolet;
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

footer .social-media {
    display: flex;
    justify-content: center;
    gap: 20px;
}

section img, #interest-gallery img, #pane div.polaroid img {
    width: 250px; 
    height: 250px;
    object-fit: cover; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer .social-media img {
    width: 25px;
    height: 25px;
}
